In [3]:
square_dict = {x: x * x for x in range(11)}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [2]:
multiplicated_xy_dict = {(x,y):x * y for x in range(2) for y in range(2)}
multiplicated_xy_dict

{(0, 0): 0, (0, 1): 0, (1, 0): 0, (1, 1): 1}

In [6]:
prefectures = ['hokkaido','hokkaido','tokyo','kanagawa']
cities = ['sapporo','hakodate','minato','yokohama']
populations = [100,200,300,400]
population_dict = {(state,city):populations for state,city,population
in zip(prefectures,cities,populations)}
population_dict

{('hokkaido', 'sapporo'): [100, 200, 300, 400],
 ('hokkaido', 'hakodate'): [100, 200, 300, 400],
 ('tokyo', 'minato'): [100, 200, 300, 400],
 ('kanagawa', 'yokohama'): [100, 200, 300, 400]}

In [8]:
multiplicated_xy_setdict = {frozenset([x,y]): x * y for x in range(2) for y in range(2)}
multiplicated_xy_setdict

{frozenset({0}): 0, frozenset({0, 1}): 0, frozenset({1}): 1}

In [9]:
{0:{0: 0,1: 0,2: 0}, 1:{0: 0,1: 1,2: 2}, 2:{0: 0,1: 2,2: 4}}

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [10]:
multiplicated_xy_dict = {}
I = 3
J = 3
for i in range(I):
    multiplicated_xy_dict[i] = {}
    for j in range(J):
        multiplicated_xy_dict[i][j] = i * j
multiplicated_xy_dict

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [11]:
I = 3
J = 3
multiplicated_xy_dict = {i:{j:(i*j) for j in range(J)} for i in range(I)}
multiplicated_xy_dict

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [12]:
multiplicated_xy_dict[2][2]

4

In [13]:
print('key1','key2','val',sep='\t')
for i, v1 in multiplicated_xy_dict.items():
    for j, v2 in v1.items():
        print(i,j,v2,sep='/t')

key1	key2	val
0/t0/t0
0/t1/t0
0/t2/t0
1/t0/t0
1/t1/t1
1/t2/t2
2/t0/t0
2/t1/t2
2/t2/t4

In [15]:
country_code = {
    'iceland':{'code':354,'capital':'reykjavik'},
    'iceland':{'code':353,'capital':'dublin'},
    'azerbaidjan':{'code':994,'capital':'baku'}
}

def getstr_keyval(x):
    if isinstance(x,dict):
        return x

    my_str = ''
    for key, val in x.items :
        my_str += ('' + str(key) + '' + getstr_keyval(val))
    return my_str

for key1, val1 in country_code.items():
    print(key1, getstr_keyval(val1))

iceland {'code': 353, 'capital': 'dublin'}
azerbaidjan {'code': 994, 'capital': 'baku'}

In [16]:
data = [
    ['01','0001','male','yamada','tarou',25,'tokyo'],
    ['01','0002','male','satou','takeshi',27,'kanagawa'],
    ['01','0003','female','tanaka','yuko',25,'saitama'],
    ['02','0001','male','smith','mike',22,'newjersey'],
    ['02','0002','male','turner','tom',27,'kansas'],
    ['02','0003','male','jackson','david',22,'florida']
]
data

[['01', '0001', 'male', 'yamada', 'tarou', 25, 'tokyo'],
 ['01', '0002', 'male', 'satou', 'takeshi', 27, 'kanagawa'],
 ['01', '0003', 'female', 'tanaka', 'yuko', 25, 'saitama'],
 ['02', '0001', 'male', 'smith', 'mike', 22, 'newjersey'],
 ['02', '0002', 'male', 'turner', 'tom', 27, 'kansas'],
 ['02', '0003', 'male', 'jackson', 'david', 22, 'florida']]

In [6]:
member_information = {}
for record in data:
    key = (record[0],record[1])
    info = record[2:]
    member_information[key] = info

NameError: name 'data' is not defined

In [5]:
print('number','information',sep='\t')
for key, info in member_information.items():
    print(key, info)

number	information